<<<<<<< HEAD
h1{
    text-align: center;
}

.dropdown{
    text-align: center;
=======
h1{
    text-align: center;
}

.dropdown{
    text-align: center;
>>>>>>> 884c55598508f8bac775ca8a2c9be3af1589af16
}